<ul class="bottomNav">
	<li ui-sref="start.home" ui-sref-active="activefirst">
		<a href="#">
			<img ng-src="{{bottomNav[0].img}}" alt="" />
			<img ng-src="{{bottomNav[0].imgact}}" alt="" />
			<p>{{bottomNav[0].name}}</p>
		</a>
	</li>
	<li ui-sref="start.classify.hotcommend" ui-sref-active="activefirst">
		<a href="#">
			<img ng-src="{{bottomNav[1].img}}" alt="" />
			<img ng-src="{{bottomNav[1].imgact}}" alt="" />
			<p>{{bottomNav[1].name}}</p>
		</a>
	</li>
	<li ui-sref="shoppingcar" ui-sref-active="activefirst">
		<a href="#">
			<img ng-src="{{bottomNav[2].img}}" alt="" />
			<img ng-src="{{bottomNav[2].imgact}}" alt="" />
			<p>{{bottomNav[2].name}}</p>
		</a>
	</li>
	<li ui-sref="start.myself" ui-sref-active="activefirst">
		<a href="#">
			<img ng-src="{{bottomNav[3].img}}" alt="" />
			<img ng-src="{{bottomNav[3].imgact}}" alt="" />
			<p>{{bottomNav[3].name}}</p>
		</a>
	</li>
</ul>
