<ul class="fenyeNav clearfix">
	<li ng-click="changeBck()"  ui-sref="start.home">
		<a href="#">
			<img src="img/home_icon_new.png" alt="" />
			<p>首页</p>
		</a>
	</li>
	<li ng-click="changeBck()" ui-sref="start.classify.hotcommend">
		<a href="#">
			<img src="img/classify.png" alt="" />
			<p>分类</p>
		</a>
	</li>
	<li ng-click="changeBck()" ui-sref="shoppingcar">
		<a href="#">
			<img src="img/cart.png" alt="" />
			<p>购物车</p>
		</a>
	</li>
	<li ng-click="changeIndex('start.myself')" ui-sref="start.myself">
		<a href="#">
			<img src="img/my.png" alt="" />
			<p>我的</p>
		</a>
	</li>
</ul>

