<div class="rightpart2">
	<div class="top">
		<div></div>
		<a href="#"><img align="absmiddle" src="img/all_cla_ban_business flower.jpg" alt="" /></a>
		<span>浪漫告白·卡罗拉红玫瑰11枝 ¥235</span>
	</div>
	<div class="nav">
		<p>用途</p>
		<p>鲜花排行榜&nbsp;></p>
	</div>
	<div class="flowerlist">
		<ul>
			<li><a href="#">
					<img src="img/more_btn.png" alt="" />
					<p>全部</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose1.png" alt="" />
					<p>爱情鲜花</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose9.png" alt="" />
					<p>友情鲜花</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose3.png" alt="" />
					<p>生日鲜花</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose4.png" alt="" />
					<p>问候长辈</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose5.png" alt="" />
					<p>回报老师</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose6.png" alt="" />
					<p>祝福庆贺</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose7.png" alt="" />
					<p>婚庆鲜花</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose8.png" alt="" />
					<p>生子祝贺</p>
				</a></li>
		</ul>
	</div>
	<p>颜色</p>
	<div class="color">
		<ul>
			<li><a href="#"><img src="img/color_03.png" alt="" /><span></span></a></li>
			<li><a href="#"><img src="img/color_05.png" alt="" /><span></span></a></li>
			<li><a href="#"><img src="img/color_07.png" alt="" /><span></span></a></li>
			<li><a href="#"><img src="img/color_09.png" alt="" /><span></span></a></li>
			<li><a href="#"><img src="img/color_13.png" alt="" /><span></span></a></li>
			<li><a href="#"><img src="img/color_15.png" alt="" /><span></span></a></li>
		</ul>
	</div>
</div>