<div class="rightpart">
	<div class="top">
		<div></div>
		<a href="#"><img align="absmiddle" src="img/all_banner_920.jpg" alt="" /></a>
		<span>9.20  就爱你•不错过</span>
	</div>
	<p>大家都在找</p>
	<div class="flowerlist">
		<ul>
			<li><a href="#">
					<img src="img/rose.png" alt="" />
					<p>鲜花</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose1.png" alt="" />
					<p>商务鲜花</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose2.png" alt="" />
					<p>永生花</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose3.png" alt="" />
					<p>蛋糕</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose4.png" alt="" />
					<p>巧克力</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose5.png" alt="" />
					<p>特色礼品</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose6.png" alt="" />
					<p>品牌公仔</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose7.png" alt="" />
					<p>礼物</p>
				</a></li>
			<li><a href="#">
					<img src="img/rose8.png" alt="" />
					<p>绿植花卉</p>
				</a></li>
		</ul>
	</div>
</div>
