<div class="top">
	<div>
		<a ng-click="return()" href="javascript:;">
			<img class="return" src="img/headChevronLeft.png" alt="" />
		</a>
	</div>
	<div class="userbox">
		<p>Hi,欢迎来到花礼网</p>
		<a href="javascript:;">登录/注册</a>
	</div>
	<img ng-src="{{top}}" alt="" />
</div>
<div class="top-bot">
	<ul>
		<li><a href="javascript:;">
				<img alt="" ng-src="{{cntedtarray[0].img}}" />
				<p>{{cntedtarray[0].connect}}</p>
			</a></li>
		<li><a href="javascript:;">
				<img alt="" ng-src="{{cntedtarray[1].img}}" />
				<p>{{cntedtarray[1].connect}}</p>
			</a></li>
		<li><a href="javascript:;">
				<img alt="" ng-src="{{cntedtarray[2].img}}" />
				<p>{{cntedtarray[2].connect}}</p>
			</a></li>
		<li><a href="javascript:;">
				<img alt="" ng-src="{{cntedtarray[3].img}}" />
				<p>{{cntedtarray[3].connect}}</p>
			</a></li>
	</ul>
</div>
<div class="center">
	<ul>
		<li><a href="javascrit:;">
				<img src="" alt="" ng-src="{{botdataarray[0].img}}" />
				<p>{{botdataarray[0].connect}}</p>
			</a></li>
		<li><a href="javascrit:;">
				<img src="" alt="" ng-src="{{botdataarray[1].img}}" />
				<p>{{botdataarray[1].connect}}</p>
			</a></li>
		<li><a href="javascrit:;">
				<img src="" alt="" ng-src="{{botdataarray[2].img}}" />
				<p>{{botdataarray[2].connect}}</p>
			</a></li>
		<li><a href="javascrit:;">
				<img src="" alt="" ng-src="{{botdataarray[3].img}}" />
				<p>{{botdataarray[3].connect}}</p>
			</a></li>
		<li><a href="javascrit:;">
				<img src="" alt="" ng-src="{{botdataarray[4].img}}" />
				<p>{{botdataarray[4].connect}}</p>
			</a></li>
		<li><a href="javascrit:;">
				<img src="" alt="" ng-src="{{botdataarray[5].img}}" />
				<p>{{botdataarray[5].connect}}</p>
			</a></li>
		<li><a href="javascrit:;">
				<img src="" alt="" ng-src="{{botdataarray[6].img}}" />
				<p>{{botdataarray[6].connect}}</p>
			</a></li>
		<li><a href="javascrit:;">
				<img src="" alt="" ng-src="{{botdataarray[7].img}}" />
				<p>{{botdataarray[7].connect}}</p>
			</a></li>
	</ul>
</div>
<div class="account">
	<span>账户管理</span>
	<a href="javascript:;">管理收货地址&nbsp;></a>
</div>
<div class="foot">
	<a href="javascript:;"><img align="absmiddle" ng-src="{{bot}}" alt="" /></a>
</div>
