<div class="shoptop">
	<a ng-click="goBack()" href="javascript:void(0);"><img src="img/headChevronLeft.png" alt="" /></a>
	<h2>购物车</h2>
	<a class="shownav" href="javascript:;"><img src="img/headerIconMore.png" alt="" /></a>
</div>
<div shop-nav class="shopnav"></div>
<div class="centerimg">
	<img src="img/empty_cart2.png" alt="" />
	<p>这里什么都没有啊～</p>
	<a href="javascript:;">去逛逛</a>
</div>
<p class="shopcom">为你推荐</p>
<div class="foryoucom">
	<div class="swiper-container swiper3">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div>
					<a href="#">
						<img src="img/rose6.png" alt="" />
						<p>666</p>
					</a>
				</div>
			</div>
			<div class="swiper-slide">
				<a href="#">
					<img src="img/rose7.png" alt="" />
					<p>686</p>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="#">
					<img src="img/rose8.png" alt="" />
					<p>686</p>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="#">
					<img src="img/rose9.png" alt="" />
					<p>686</p>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="#">
					<img src="img/rose6.png" alt="" />
					<p>686</p>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="#">
					<img src="img/rose7.png" alt="" />
					<p>686</p>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="#">
					<img src="img/rose8.png" alt="" />
					<p>686</p>
				</a>
			</div>
		</div>
	</div>
</div>